.trello-card fieldset {
  border: 0;
  padding: 0;
}

article.trello-card header.entry-header {
  margin: 0;
}

/** cover image **/
.trello-cover {
  float: right;
  width: 20em;
}

/** label colors from Trello.com **/
.trello-label-green {
  color: #61bd4f;
}

.trello-label-yellow {
  color: #f2d600;
}

.trello-label-orange {
  color: #ff9f1a;
}

.trello-label-red {
  color: #eb5a46;
}

.trello-label-purple {
  color: #c377e0;
}

.trello-label-blue {
  color: #0079bf;
}

/** checklist styling **/
.trello-card ul.trello-checklist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.trello-card .trello-checklist-name:after {
  content: " | ";
}
